<header>
    <section class="header-main">
        <section class="logo-register">
            <nav class="logins">
                <% if (!locals.isLogged){ %>
                <a href="/user/login">Ingresar</a>
                <span>/</span>
                <a href="/user/register">Registrarse</a>
                <% }else{ %>
                    <a href="/user/Logout">Logout</a>
                <% } %>
            </nav>
            <div class="test">
                <a href="/"><img src="../Img/Logo.jpg" width="230px"></a>
            </div>
        </section>
        <section class="burger-search">
            <a href="#">
                <i class="fas fa-bars burger"></i>
            </a>
            <form class="search-container" action="">
                <input class="searcher" type="search" placeholder="¿Qué estás buscando?">
                <button type="submit" class="glass"><span class="fas fa-search"></span></button>
            </form>
            <section>
                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </section>
        </section>
    </section>
    <nav class="header-menus">
        <ul>
            <li><a href="#">Vinos</a><a href="#"><i class="fas fa-angle-down"></i></a></li>
            <li><a href="#">Espumantes</a><a href="#"><i class="fas fa-angle-down"></i></a></li>
            <li><a href="#">Espirituosas</a><a href="#"><i class="fas fa-angle-down"></i></a></li>
            <li><a href="#">Cervezas</a><a href="#"><i class="fas fa-angle-down"></i></a></li>
            <li><a href="#">Whiskys</a><a href="#"><i class="fas fa-angle-down"></i></a></li>
            <li><a href="#">Accesorios</a><a href="#"><i class="fas fa-angle-down"></i></a></li>
        </ul>
    </nav>

</header>