* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Bebas Neue", cursive;
  }
  
  .container {
    width: 100%;
    margin: auto;
  }

  .container-navbar {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: column;
  }
  .link{
   margin: auto;
   margin-bottom: 20px;
  }

    .search{
      display: flex;
      flex-flow: column;
    }
    .input-search{
      width: 95%;
     margin: auto;
     border-radius: 3px;
     height: 40px;
     margin-bottom: 10px;
    }

    .btn-search{
      height: 30px;
      width: 95%;
     margin: auto;
    }
  
  .titular {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(47, 47, 49);
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: x-large;
   /* box-shadow: 0px 0px 10px rgb(100, 100, 100);*/
  }
  
  .titular i {
    font-size: 32px;
  }
  
  .productos {
    display: flex;
    flex-flow: column;
    width: 90%;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 4px;
  /*  background-color:rgb(180, 180, 180);*/
    border-radius: 8px;
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .article {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: rgb(226, 224, 224);
    margin: auto;
    margin-top: 8px;
    border: 1px solid white;
    border-radius: 8px;
  }
  .article h3 {
    color: rgb(17, 16, 16);
    margin-bottom: 8px;
    font-weight: 300;
  }
  
  .producto {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .producto img {
    width: 90%;
    border-radius: 8px;
  }
  
  .descripcion {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px;
  }
  
  .descripcion p {
    color: rgb(99, 98, 98);
    font-size: 18px;
  }
  
  .row {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    justify-content: space-around;
    border: 1px solid white;
    border-bottom: 0;
  }
  
  .btns {
    display: flex;
    align-items: center;
    
  }
        .btn-edit {
                border: 1px solid #ccc;
                padding: .5rem;
                background-color: white;
                border-color: #a5b56c;
                transition: all 350ms;
            }
            .btn-edit:hover{
                background-color: rgb(144, 147, 145);
                color: black;
                border: 1px solid saddlebrown;
                border-radius: 5px;
              }
  
  .cantidad input {
    width: 40%;
    border-radius: 5px;
    border-color: rgb(204, 203, 203);
    margin: 2px;
    transition: all 350ms;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
  }
  
  .cantidad h2 {
    margin-left: 45px;
  }
     
  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
  }
  
  .total label {
    width: 25%;
    color:rgb(99, 98, 98);;
    transition: all 350ms;
    font-size: 24px;
    text-align: center;
    padding: 5px;
  }
  
  .total input {
    width: 25%;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
  
    text-align: right;
    padding: 5px;
  }

  .footer {
    height: 200px;
  }
  
  @media (min-width: 900px) {
    .container {
      width: 1200px;
    }
    .navbar{

    }
    .container-navbar {
      width: 100%;
      display: flex;
      flex-flow:row;
      align-items: center;
     }
    .link{
     margin: auto;
     margin-left: 40px;
    }
  
      .search{
        display: flex;
        flex-flow: row;
        width: 50%;
        margin-right: 70px;
     
       }
      .input-search{
       width: 70%;
       margin: auto;
       border-radius: 3px;
       height: 40px;
 
       }
  
      .btn-search{
        height: 40px;
        width: 25%;
        margin: auto;
     
      }
  
    .article {
      flex-flow: row;
    }

    .producto {
      width:300x;
      height:150px;
      overflow:hidden;
     }
  
    .producto img{
      width:auto;
      height:75%;     
    }
     
    .descripcion {
      padding: 10px;
      width: 80%;
    }
  
    .row {
      width: 40%;
      align-items: center;
      border-top: 0;
      border-right: 0;
    }
  
    .cantidad h2 {
      margin-left: 24px;
    }
  
    .btns {
      margin-left: 4px;
    }
  
    .precio {
      margin-right: 8px;
    }
  }
  