<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/productsList.css" />

    <body>
        <%- include('../partials/header')%>
            <main>

                <div class="container">
                    <nav class="navbar">
                        <div class="container-navbar">
                          <h1>Productos</h1>
                          <a href="/products/create" class="link" style="height: 28px; font-size: 22px;">New Product</a>
                          <form class="search">
                            <input type="input" class="input-search" placeholder="Buscar" aria-label="Search">
                            <button class="btn btn-search" type="submit">Buscar</button>
                          </form>
                        </div>
                      </nav>
                    <section class="detalle">
                        <div class="productos">
                            <% products.forEach(product=> { %>
                                <%- include('./product', { product })%>
                                    <% })%>
                        </div>
                    </section>

                </div>
            </main>

            <%- include('../partials/footer')%>

    </body>

</html>